* { 
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 100%);
    list-style: none;

    /* border: dashed orange 0.5px; */

}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(218, 28%, 13%);
}

nav {
    padding-top: 3vh;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
#spacer {
    width: 10%;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

section {
    margin-bottom: 300px;
    align-content: center;
}

.illustration {
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

#hero-img {
    background-image: url(images/illustration-intro.png);
}
#productive-img {
    background-image: url(images/illustration-stay-productive.png);
}

header {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
}
h1 {
    font-family: 'Raleway', sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
}

p {
    padding-left: 65px;
    padding-right: 65px;
    font-size: 2rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.get-started > p {
    margin: 0;
    padding: 80px;
    padding-top: 20px;
}

.intr-btn {
    padding: 25px 150px 25px 150px;
    background: rgb(84,203,215);
    background: linear-gradient(90deg, rgba(84,203,215,1) 0%, rgba(58,171,206,1) 100%);
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.feature-object {
    margin-bottom: 80px;
}

.feature-icon {
    width: 100px;
    margin: 50px;
}

.stay-productive {
    padding-left: 65px;
}
.stay-productive > p, h2 {
    text-align: left;
    padding-left: 0;
    padding-right: 40px;
}

.demo-link-cont {
    width: fit-content;
    padding-bottom: 8px;
    text-align: left;
    border-bottom: solid 2.5px hsl(176, 68%, 64%);   
}
.demo-link-cont a {
    font-size: 1.8rem;
    font-weight: 200;
    color: hsl(176, 68%, 64%);
}
#stay-prod-img {
    width: 20px;
    position: relative;
    top: 5px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
#quotes-img {
    width: 42px;
    margin-left: 14%;
    align-self: baseline;

}
.testim-elem {
    width: 65%;
    margin-bottom: 45px;
    padding: 35px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    box-shadow: 0px 0px 26px 2px hsla(198, 60%, 50%, 0.05);
    -webkit-box-shadow: 0px 0px 26px 2px hsla(198, 60%, 50%, 0.05); 
}
.testim-txt {
    padding: 0;
    margin-bottom: 25px;
    margin-top: 0;
    padding-right: 40px ;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2;
}
.testim-profile {
    display: flex;
    flex-direction: row;

}
.prof-img {
    width: 50px;
    margin-right: 15px;
    height: 50px;
    border-radius: 100%;
}
.prof-role {
    padding: 0%;
    font-size: 1rem;
    line-height: 1;
}
.prof-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.prof-txt > * {
    margin: 0;
    letter-spacing: 1.5px;
}
.prof-txt > h4 {
    font-size: 1.4rem;
}

.early-access {
    width: 90%;
    margin-bottom: -80px;
    padding: 40px 0 30px;
    position: relative;
    top: 270px;
    align-self: center;
    background-color: hsl(217, 28%, 15%);
    border-radius: 25px;
    -webkit-box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.2); 
    box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.2);
}
.early-access > p {
    padding: 0 50px;
    margin-bottom: 60px;
}
.sgn-up-form > * {
    width: 82%;
    height: 6.6rem;
    margin-bottom: 50px;
    padding: 0;
    border-radius: 50px;
    border: none;
    outline: none;
}
#email {
    vertical-align: middle;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: hsl(216, 53%, 9%);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C0C0C0;
    opacity: 1; /* Firefox */
}
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C0C0C0;
}
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C0C0C0;
}
.get-started-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    background-color: hsl(198, 60%, 50%);
    background: linear-gradient(
        90deg,
        hsl(176, 68%, 64%) -35%,
        hsl(198, 60%, 50%) 130%);
    -webkit-box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 20%);
    box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 20%);
}

footer {
    padding: 0 65px;
    padding-top: 500px;
    background-color: hsl(216, 53%, 9%);
}

.contact-dets {
    display: flex;
    flex-direction: column;
}
.footer-logo {
    width: 25rem;
    margin-bottom: 100px;
}
.contact-lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.contact-lists > * {
    margin-bottom: 10px;
    font-size: 2.2rem;
    line-height: 2;
    text-align:start;
}
.contact-icon-row {
    display: grid;
    grid-template-columns: 1fr 9fr;

}
.contact-img-cont {
    width: 0;
}
.contact-icon {
    width: auto;
    height: 30px;
    margin: 15px 40px 0 0;
}
.contact-icon-txt {
    margin: 0;
    padding-left: 10px;
    font-size: 2.2rem;
    line-height: 1.8;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }